In [1]:
import numpy as np 
import pandas as pd 
import json
from sqlalchemy import create_engine

In [2]:
sales = pd.read_csv(r'sales_clean.csv')
sales.head(3)

C:\Users\Max\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,title,InvoiceNo,StockCode,Quantity,CustomerID,Country,url,rating,review_count,price,product_type,total_sale,ASIN,invoice_date,invoice_time
0,Fujifilm Instax Mini 8 Instant Film Camera (Ra...,78581587,22726,4,12680.0,France,https://www.amazon.com/Fujifilm-Instax-Mini-Ra...,4.6,15513,52.95,dslr camera,211.80,B00U2UZ40Y,2019-12-09,12
1,Lowepro Photo Hatchback 16L Camera Backpack - ...,78581587,22899,6,12680.0,France,https://www.amazon.com/Lowepro-Photo-Hatchback...,4.5,1473,87.49,dslr camera,524.94,B008O8EGOQ,2019-12-09,12
2,Neewer NW320 Mini TTL Speedlite Flash Automati...,78581586,22061,8,13113.0,Germany,https://www.amazon.com/Neewer-Display-Speedlit...,4.2,611,69.99,dslr camera,559.92,B00VE5HQ4I,2019-12-09,12

In [5]:
sqlEngine = create_engine('mysql+pymysql://root:20Sjadsn#+@10.25.10.10:3308/amazon', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

# This is for creating data base
#sqlEngine.execute("CREATE DATABASE IF NOT EXISTS AMAZON") #create db
sqlEngine.execute("USE amazon") # select new db

tableName   = "sales"


try:
    frame = sales.to_sql(tableName, dbConnection, if_exists='replace',index = False)

except ValueError as vx:
    print(vx)

except Exception as ex:   
    print(ex)

else:
    print("Table %s created successfully."%tableName);   

finally:
    dbConnection.close()

Table sales created successfully.

In [43]:
sales_tb = pd.read_csv(r'C:\Users\Vigi\CAB - work related\eCommerce\individual datasets\sales.csv')
sales_tb.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,78536365,85123A,"Apple iPhone X, 256GB, Silver - Fully Unlocked...",6,2018-12-01 08:26:00,2.55,17850.0,DE
1,78536365,71053,"3M Precise Mouse Pad with Gel Wrist Rest, Soot...",6,2018-12-01 08:26:00,3.39,17850.0,DE
2,78536365,84406B,mCover Aqua iPearl Hard Shell Cover Case + Fre...,8,2018-12-01 08:26:00,2.75,17850.0,DE

In [44]:
# keep only the integer of the CustomerID
sales_tb.CustomerID=sales_tb.CustomerID.str[:-2]
sales_tb.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,78536365,85123A,"Apple iPhone X, 256GB, Silver - Fully Unlocked...",6,2018-12-01 08:26:00,2.55,17850,DE
1,78536365,71053,"3M Precise Mouse Pad with Gel Wrist Rest, Soot...",6,2018-12-01 08:26:00,3.39,17850,DE
2,78536365,84406B,mCover Aqua iPearl Hard Shell Cover Case + Fre...,8,2018-12-01 08:26:00,2.75,17850,DE
3,78536365,84029G,MOSISO MacBook Pro 13 inch Case 2019 2018 2017...,6,2018-12-01 08:26:00,3.39,17850,DE
4,78536365,84029E,Video Camera Camcorder Digital YouTube Vloggin...,6,2018-12-01 08:26:00,3.39,17850,DE

In [45]:
# drop null values in Description column
sales_tb=sales_tb.dropna(subset=['Description'])
sales_tb=sales_tb.sort_values(by=['Description'])
sales_tb.head()
sales_tb.isnull().any()

InvoiceNo      False
StockCode      False
Description    False
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [48]:
# sqlEngine for phones database
sqlEngine = create_engine('mysql+pymysql://root:Cordero1!@127.0.0.1/sales2', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

# This is for creating data base
#sqlEngine.execute("CREATE DATABASE IF NOT EXISTS AMAZON") #create db
sqlEngine.execute("USE sales2") # select new db

tableName   = "sales_tb"


try:
    frame = sales_tb.to_sql(tableName, dbConnection, if_exists='replace',index = False)

except ValueError as vx:
    print(vx)

except Exception as ex:   
    print(ex)

else:
    print("Table %s created successfully."%tableName);   

finally:
    dbConnection.close()

Table sales_tb created successfully.

In [3]:
phones = pd.read_csv(r'C:\Users\Vigi\CAB - work related\eCommerce\individual datasets\smartphone.csv')
phones.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,78536365,85123A,"Apple iPhone X, 256GB, Silver - Fully Unlocked...",6,2018-12-01 08:26:00,2.55,17850.0,DE
1,78536365,71053,"3M Precise Mouse Pad with Gel Wrist Rest, Soot...",6,2018-12-01 08:26:00,3.39,17850.0,DE
2,78536365,84406B,mCover Aqua iPearl Hard Shell Cover Case + Fre...,8,2018-12-01 08:26:00,2.75,17850.0,DE

In [37]:
# remove $ sign
phones.price = phones.price.str.replace('$', '')

# %%
# keep only the value of the rating
phones.rating = phones.rating.str[:3]

# drop null values in title column
phones=phones.dropna(subset=['title'])
phones=phones.sort_values(by=['title'])
phones.head()
phones.isnull().any()

<ipython-input-37-90743d224c43>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  phones.price = phones.price.str.replace('$', '')

title           False
url             False
rating          False
review_count    False
price           False
dtype: bool

In [63]:
# make sure that Price column is data type int
phones=phones.sort_values(by=['price'],ascending=False)
phones.price=phones.price.str.replace(',','').astype(float)
phones
#phones.price=phones.price.astype(float)
#phones.dtypes

,title,url,rating,review_count,price
692,OnePlus 8 Pro Onyx Black​ 12GB+256GB with Alex...,https://www.amazon.com/OnePlus-Black-256GB-Ale...,4.0,106,999.00
1116,KODAK Smile Instant Digital Printer – Pop-Open...,https://www.amazon.com/KODAK-Smile-Instant-Dig...,4.4,54,99.99
17,"BLU G6-5.7"" HD Display GSM Unloked Smartphone,...",https://www.amazon.com/BLU-Display-Unloked-Sma...,3.9,24,99.99
1894,GISSARAL 35000mAh Power Bank Portable External...,https://www.amazon.com/GISSARAL-35000mAh-Porta...,2.3,17,99.99
12,"Moto E5 (2018) 16GB, 2GB 5.7"" Display, 4000 mA...",https://www.amazon.com/Moto-E5-Display-Battery...,4.3,532,99.99
...,...,...,...,...,...
2136,Lammcou Phone Tripod Mount 360° Rotatable Cell...,https://www.amazon.com/Lammcou-Rotatable-Unive...,4.5,60,10.11
928,Cegar Universal Magnetic Cell Phone Mount Hold...,https://www.amazon.com/Cegar-Windshield-Naviga...,3.8,23,10.01
2619,OKiT FM Transmitter Adapter Car Kit （FM Transm...,https://www.amazon.com/Transmitter-Supports-Ha...,3.5,7,10.00
467,Samsung Galaxy Fold (5G) 512GB/12GB RAM SM-F90...,https://www.amazon.com/Samsung-SM-F907B-Factor...,3.8,10,1769.99
1728,HDS-7 LIVE - 7-inch Fish Finder with Active Im...,https://www.amazon.com/HDS-7-Live-Transducer-F...,3.9,25,1149.99

In [64]:
# sqlEngine for phones database
sqlEngine = create_engine('mysql+pymysql://root:Cordero1!@127.0.0.1/sales2', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

# This is for creating data base
#sqlEngine.execute("CREATE DATABASE IF NOT EXISTS sales2") #create db
sqlEngine.execute("USE sales2") # select new db

tableName   = "phones"


try:
    frame = phones.to_sql(tableName, dbConnection, if_exists='replace',index = False)

except ValueError as vx:
    print(vx)

except Exception as ex:   
    print(ex)

else:
    print("Table %s created successfully."%tableName);   

finally:
    dbConnection.close()

Table phones created successfully.

In [4]:
cameras = pd.read_csv(r'C:\Users\Vigi\CAB - work related\eCommerce\individual datasets\dslr.csv')
cameras.head(3)

,title,url,rating,review_count,price
0,AmazonBasics 60-Inch Lightweight Tripod with Bag,https://www.amazon.com/AmazonBasics-60-Inch-Li...,4.5 out of 5 stars,"27,293",25.99
1,Canon EOS Rebel T7 DSLR Camera Bundle with Can...,https://www.amazon.com/Canon-EOS-Rebel-0-709-2...,4.5 out of 5 stars,28,454.99
2,Nikon D5600 DSLR with 18-55mm f/3.5-5.6G VR an...,https://www.amazon.com/C%C3%A1mara-D5600-forma...,4.7 out of 5 stars,629,796.95

In [5]:
# sqlEngine for cameras database
sqlEngine = create_engine('mysql+pymysql://root:Cordero1!@127.0.0.1/sales2', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

# This is for creating data base
#sqlEngine.execute("CREATE DATABASE IF NOT EXISTS sales2") #create db
sqlEngine.execute("USE sales2") # select new db

tableName   = "cameras"


try:
    frame = cameras.to_sql(tableName, dbConnection, if_exists='replace',index = False)

except ValueError as vx:
    print(vx)

except Exception as ex:   
    print(ex)

else:
    print("Table %s created successfully."%tableName);   

finally:
    dbConnection.close()

Table cameras created successfully.